<div class='row text-center'>
	<div class='col-sm-4 col-sm-offset-4'>
		<h1>Create a new demand</h1>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">General information</h3>
			</div>
			<div class="panel-body">
				<div class="input-group input-group-lg">
					<span class="input-group-addon">Title</span>
					<input id="title" type="text" class="form-control" ng-model="newDemand.title" placeholder="Type in your new demand title..."
					 aria-describedby="sizing-addon1">
				</div>
				<br/>
				<textarea id="description" name="textarea" class="form-control" rows="5" ng-model="newDemand.description" placeholder="Demand detailed description comes here"></textarea>
			</div>
		</div>
		<button id="add" class='btn btn-success btn-lg' ng-click="addDemand()">Add new demand</button>
		<button id="cancel" ui-sref="home" class='btn btn-info btn-lg'>Cancel</button>
	</div>
</div>