<div class='row text-center'>
    <div class='col-sm-4 col-sm-offset-4'>
        <h1>Edit demand</h1>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">General information</h3>
            </div>
            <div class="panel-body">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Title</span>
                    <input id="title" type="text" class="form-control" ng-model="currentDemand.title" placeholder="Type in your new demand title..."
                        aria-describedby="sizing-addon1">
                </div>
                <br/>
                <textarea id="description" name="textarea" class="form-control" rows="5" ng-model="currentDemand.description" placeholder="Demand detailed description comes here"></textarea>
                <br/>
                <div ng-show="showInState(['demand','rejected'])" class="input-group input-group-lg">
                    <span class="input-group-addon">Rejection note</span>
                    <input id="title" type="text" class="form-control" ng-model="currentDemand.rejected_reason" placeholder="Type in rejection remarks..."
                        aria-describedby="sizing-addon1">
                </div>
            </div>
        </div>
        <div class="panel panel-info" ng-show="showInState(['demand','rejected'])">
            <div class="panel-heading">
                <h3 class="panel-title">Vendor information</h3>
            </div>
            <div class="panel-body">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Company</span>
                    <input id="title" type="text" class="form-control" ng-model="currentDemand.vendor" placeholder="Vendor name..." aria-describedby="sizing-addon1">
                </div>
                <br/>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Email</span>
                    <input id="title" type="text" class="form-control" ng-model="currentDemand.vendor_email" placeholder="Vendor email address..."
                        aria-describedby="sizing-addon1">
                </div>
                <br/>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Price (HUF)</span>
                    <input id="title" type="text" class="form-control" ng-model="currentDemand.price" placeholder="Price (HUF)" aria-describedby="sizing-addon1">
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Inventory</h3>
            </div>
            <div class="panel-body">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Code</span>
                    <input id="title" type="text" class="form-control" ng-model="currentDemand.inventory_code" placeholder="Inventory code..."
                        aria-describedby="sizing-addon1">
                </div>
                <br/>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Employee</span>
                    <input id="title" type="text" class="form-control" ng-model="currentDemand.user" placeholder="Employee name..." aria-describedby="sizing-addon1">
                </div>
            </div>
        </div>
        <br/>
        <button class='btn btn-success btn-lg' ng-click="editTodo(currentDemand)">Save changes</button>
        <button ui-sref="home" class='btn btn-info btn-lg'>Cancel</button>
    </div>
</div>