<div class="row text-center">
    <div class="col-sm-4 col-sm-offset-4">
        <h2>List of demands</h2>
        <br/>

        <div class="container-fluid">
            <div class="input-group col-xs-12">
                <input type="text" class="form-control" ng-model="search" ng-change="paginatedListToDisplay()" placeholder="Search for names, descriptions, statuses...">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button">Search demands</button>
            </span>
            </div>
        </div>

        <br/>

        <div class="container-fluid">
            <table id="demanditemtable" class="table text-">
                <thead>
                <tr>
                    <th class="text-center">Description</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Change Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat='demand in paginatedDemands'>
                    <td><label class="text-primary" ng-click="editCurrent(demand)"
                               data-toggle="tooltip"
                               title="{{ demand.description }}">{{ demand.title }}</label></td>

                    <td><label id="lbl.state.{{ $index }}" class="text-success">{{ demand.state }}</label></td>

                    <td>
                        <div class="btn-group">
                            <a id="btn.dropdown-toggle.{{ $index }}" class="btn btn-default btn-link dropdown-toggle"
                               data-toggle="dropdown" href="#"><span
                                    class="glyphicon glyphicon-chevron-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click="editCurrent(demand)"><i class="glyphicon glyphicon-pencil"></i>
                                    Edit</a>
                                </li>
                                <li><a href="#" ng-click="deleteDemand(demand.id)"><i class="glyphicon glyphicon-trash"></i>
                                    Delete</a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Change state</li>
                                <li><a href="#" ng-click="changeState(demand.id,'demand')">demand</a>
                                <li><a href="#" ng-click="changeState(demand.id,'reject')">reject</a>
                                <li><a href="#" ng-click="changeState(demand.id,'approve')">approve</a>
                                <li><a href="#" ng-click="changeState(demand.id,'purchase')">purchase</a>
                                <li><a href="#" ng-click="changeState(demand.id,'take_in')">take in</a>
                                <li class="divider"></li>
                                <li><a href="#" ng-click="changeState(demand.id,'take_out')">take out</a>
                                <li><a href="#" ng-click="changeState(demand.id,'take_back')">take back</a>
                                <li class="divider"></li>
                                <li><a href="#" ng-click="changeState(demand.id,'build_in')">build in</a>
                                <li><a href="#" ng-click="changeState(demand.id,'dismout')">dismount</a>                                    
                                <li class="divider"></li>
                                <li><a href="#" ng-click="changeState(demand.id,'discard')">sold</a>
                                <li><a href="#" ng-click="changeState(demand.id,'discard')">discard</a>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
            <pagination boundary-links="true"
                        max-size="3"
                        items-per-page="itemsPerPage"
                        total-items="filteredItems.length"
                        ng-model="currentPage"
                        ng-change="paginatedListToDisplay()"></pagination>
        </div>
        <button id="add_new_item" ui-sref="add-demand" class='btn btn-primary btn-lg'>Create new demand</button>
    </div>
</div>

<div class="modal fade" id="modalNotAllowed" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                Status change is not allowed here!
            </div>
        </div>
    </div>
</div>