<div class='row text-center'>
	<div class='col-sm-4 col-sm-offset-4'>
		<h1>Add a todo</h1>
		<div class="input-group input-group-lg">
			<span class="input-group-addon">Title</span>
			<input id="title" type="text" class="form-control" ng-model="newTodo.title" placeholder="what is your title?" aria-describedby="sizing-addon1">
		</div>
		<br/>
		<textarea id="description" name="textarea" class="form-control" rows="5" ng-model="newTodo.description" placeholder="description"></textarea>
		<br/>
		<button id="add" class='btn btn-success btn-lg' ng-click="addTodo()">Add</button>
        <button id="cancel" ui-sref="home" class='btn btn-info btn-lg' >Cancel</button>
	</div>
</div>