<div class='row text-center'>
    <div class='col-sm-4 col-sm-offset-4'>
        <h1>Edit a Todo</h1>

        <div class="input-group input-group-lg">
            <span class="input-group-addon">Title</span>
            <input type="text" class="form-control" ng-model="currentTodo.title" placeholder="what is your title?"
                   aria-describedby="sizing-addon1">
        </div>
        <br/>

        <div class="panel panel-info">
            <div class="lead panel-heading">Description</div>
            <div class="panel-body">
                <textarea name="textarea" class="form-control" rows="5" ng-model="currentTodo.description"
                          placeholder="description"></textarea>
                <label for="finished">Is finished?</label>
                <input type="checkbox" ng-checked="currentTodo.is_finished" ng-model='currentTodo.is_finished' id="finished">

            </div>
        </div>




        <br/>

        <button class='btn btn-success btn-lg' ng-click="editTodo(currentTodo)">Edit</button>
        <button ui-sref="home" class='btn btn-info btn-lg'>Cancel</button>
    </div>
</div>