<div class="row text-center">
    <div class="col-sm-4 col-sm-offset-4">
        <h2>Todo Items</h2>
        <br/>

        <div class="container-fluid">
            <div class="input-group col-sm-4 col-sm-offset-4">
                <input type="text" class="form-control" ng-model="search" ng-change="paginatedListToDisplay()" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button">Search</button>
            </span>
            </div>
        </div>

        <br/>

        <div class="container-fluid">
            <table id="todoitemtable" class="table text-">
                <thead>
                <tr>
                    <th class="text-center">Finished</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat='todo in paginatedTodos'>
                    <td><input type="checkbox" class="" ng-checked="todo.is_finished"
                               ng-change="toggleFinished(todo)" ng-model='todo.is_finished'></td>

                    <td><label class="text-primary" ng-click="editCurrent(todo)"
                               ng-class="{completed: todo.is_finished}" data-toggle="tooltip"
                               title="{{ todo.description }}">{{ todo.title }}</label></td>

                    <td><label id="lbl.state.{{ $index }}" class="text-success">{{ todo.state }}</label></td>

                    <td>
                        <div class="btn-group">
                            <a id="btn.dropdown-toggle.{{ $index }}" class="btn btn-default btn-link dropdown-toggle"
                               data-toggle="dropdown" href="#"><span
                                    class="glyphicon glyphicon-chevron-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click="editCurrent(todo)"><i class="glyphicon glyphicon-pencil"></i>
                                    Edit</a>
                                </li>
                                <li><a href="#" ng-click="deleteTodo(todo.id)"><i class="glyphicon glyphicon-trash"></i>
                                    Delete</a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Change state</li>
                                <li><a id="btn.state.draft.{{ $index }}" href="#"
                                       ng-click="changeState(todo.id,'draft')">draft</a>
                                <li><a id="btn.state.approve.{{ $index }}" href="#"
                                       ng-click="changeState(todo.id,'approve')">approve</a>
                                <li><a href="#" ng-click="changeState(todo.id,'start')">start</a>
                                <li><a id="btn.state.finish.{{ $index }}" href="#"
                                       ng-click="changeState(todo.id,'finish')">finish</a>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
            <pagination boundary-links="true"
                        max-size="3"
                        items-per-page="itemsPerPage"
                        total-items="filteredTodos.length"
                        ng-model="currentPage"
                        ng-change="paginatedListToDisplay()"></pagination>
        </div>
        <button id="add_new_item" ui-sref="add-todo" class='btn btn-primary btn-lg'>Add a new item</button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalNotAllowed" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                Status change is not allowed here!
            </div>
        </div>
    </div>
</div>