<div class='row text-center'>
	<div class='col-sm-4 col-sm-offset-4'>
		<h1>Create a new task</h1>
		<div class="input-group input-group-lg">
			<span class="input-group-addon">Title</span>
			<input id="title" type="text" class="form-control" ng-model="newTask.title" placeholder="Type in your new task title..." aria-describedby="sizing-addon1">
		</div>
		<br/>
		<textarea id="description" name="textarea" class="form-control" rows="5" ng-model="newTask.description" placeholder="Task detailed description comes here"></textarea>
		<br/>
		<button id="add" class='btn btn-success btn-lg' ng-click="addTask()">Add new task</button>
        <button id="cancel" ui-sref="home" class='btn btn-info btn-lg' >Cancel</button>
	</div>
</div>