<div class='row text-center'>
    <div class='col-sm-4 col-sm-offset-4'>
        <h1>Edit task</h1>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">Task title</span>
            <input type="text" class="form-control" ng-model="currentTask.title" placeholder="Type your title here"
                   aria-describedby="sizing-addon1">
        </div>
        <br/>
        <div class="panel panel-info">
            <div class="lead panel-heading">Task description</div>
            <div class="panel-body">
                <textarea name="textarea" class="form-control" rows="5" ng-model="currentTask.description"
                          placeholder="task detailed description comes here"></textarea>
                <label for="finished">Is finished?</label>
                <input type="checkbox" ng-checked="currentTask.is_finished" ng-model='currentTask.is_finished' id="finished">

            </div>
        </div>
        <br/>
        <button class='btn btn-success btn-lg' ng-click="editTask(currentTask)">Save changes</button>
        <button ui-sref="home" class='btn btn-info btn-lg'>Cancel</button>
    </div>
</div>