<div class="row text-center">
    <div class="col-xd-8 col-xd-offset-4">
        <h2>List of tasks</h2>
        <br/>

        <div class="container-fluid">
            <div class="input-group col-xs-12">
                <input type="text" class="form-control" ng-model="search" ng-change="paginatedListToDisplay()" placeholder="Search for names, descriptions, statuses...">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button">Search tasks</button>
            </span>
            </div>
        </div>

        <br/>

        <div class="container-fluid">
            <table id="taskitemtable" class="table text-">
                <thead>
                <tr>
                    <th class="text-center">Finished</th>
                    <th class="text-center">Task Name</th>
                    <th class="text-center">Task Status</th>
                    <th class="text-center">Manage Task</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat='task in paginatedTasks'>
                    <td><input type="checkbox" class="" ng-checked="task.is_finished"
                               ng-change="toggleFinished(task)" ng-model='task.is_finished'></td>

                    <td><label class="text-primary" ng-click="editCurrent(task)"
                               ng-class="{completed: task.is_finished}" data-toggle="tooltip"
                               title="{{ task.description }}">{{ task.title }}</label></td>

                    <td><label id="lbl.state.{{ $index }}" class="text-success">{{ task.state }}</label></td>

                    <td>
                        <div class="btn-group">
                            <a id="btn.dropdown-toggle.{{ $index }}" class="btn btn-default btn-link dropdown-toggle"
                               data-toggle="dropdown" href="#"><span
                                    class="glyphicon glyphicon-chevron-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click="editCurrent(task)"><i class="glyphicon glyphicon-pencil"></i>
                                    Edit</a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Change state</li>
                                <li><a id="btn.state.draft.{{ $index }}" href="#"
                                       ng-click="changeState(task.id,'draft')">draft</a>
                                <li><a id="btn.state.approve.{{ $index }}" href="#"
                                       ng-click="changeState(task.id,'approve')">approve</a>
                                <li><a href="#" ng-click="changeState(task.id,'start')">start</a>
                                <li><a id="btn.state.finish.{{ $index }}" href="#"
                                       ng-click="changeState(task.id,'finish')">finish</a>
                                <li><a id="btn.state.delete.{{ $index }}" href="#"
                                        ng-click="changeState(task.id,'delete')">delete</a>       
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
            <pagination boundary-links="true"
                        max-size="3"
                        items-per-page="itemsPerPage"
                        total-items="filteredItems.length"
                        ng-model="currentPage"
                        ng-change="paginatedListToDisplay()"></pagination>
        </div>
        <button id="add_new_item" ui-sref="add-task" class='btn btn-primary btn-lg'>Create new task</button>
    </div>
</div>

<div class="modal fade" id="modalNotAllowed" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                Status change is not allowed here!
            </div>
        </div>
    </div>
</div>